<mat-card *ngIf="hideEditForm" style="margin-bottom: 10vh">
  <mat-card-header class="app-accent" layout="row">
    <mat-card-title>
      <img class="logo" src="assets/images/logo.png" alt="logo" />
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table
      *ngIf="productDataSource$ | async"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="sortProductsWithObjectLiterals($event)"
      matSortActive="vendorid"
      matSortDirection="asc"
      matSortDisableClear
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Product No.</div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Name</div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <!-- Vendor Id Column -->
      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Vendor No.</div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.vendorid }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="select(row)"
      ></tr>
    </table>
    <div class="padtop15">
      <mat-icon
        (click)="newProduct()"
        matTooltip="Add New Product"
        class="addicon"
        color="primary"
      >
        control_point
      </mat-icon>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <span class="footer my-primary-text">{{ msg }}</span>
  </mat-card-footer>
</mat-card>
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  *ngIf="hideEditForm"
></mat-paginator>
<mat-card *ngIf="!hideEditForm">
  <mat-card-header layout="row">
    <mat-card-title class="my-primary-text"
      ><span>{{ msg }}</span></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <app-product-detail
      [selectedProduct]="product"
      [vendors]="vendors$ | async"
      [products]="products$ | async"
      (cancelled)="cancel('cancelled')"
      (saved)="save($event)"
      (deleted)="delete($event)"
    >
    </app-product-detail>
  </mat-card-content>
</mat-card>
