<mat-card align="center">
  <div>
    <mat-card-header class="app-accent" layout="row">
      <mat-card-title>
        <img class="logo" src="assets/images/logo.png" alt="logo" />
        <div class="my-primary-text">Case Study</div>
        <div class="my-primary-text" style="font-size: x-small; padding-bottom: 5vh">v1.0</div>
      </mat-card-title>
    </mat-card-header>
  </div>
  <mat-card-footer align="end" class="my-primary-text margin-right-2">
    &copy;Info5059 - 2022
  </mat-card-footer>
</mat-card>
